/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
	
}

.menu{ 
	background: #316dce;
}
 
nav {
	Display: none; 
	background: #fadadd;
}

.menu:hover + nav, nav:hover {
	display: flex;
		
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
		display: flex;
  justify-content: center;
	/*background:-webkit-gradient(linear, 44% 99%, 5% 15%, from(#8599ED), to(#E57FA8));*/
  } 
	nav {
		display: flex;
	}
	
	.menu {
	background: #316dce;
	color: white;
	display: none;
	line-height: 2em;
	}
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
}
